# Node.js
**/node_modules
**/coverage
**/logs

# Environment files
**/.env

# Prisma
**/prisma/dev.db
**/prisma/dev.db-journal

# Docker
**/.docker

# Vite
**/.vite

# macOS
.DS_Store

# VSCode
.vscode

# Logs
*.log

# Build cache
**/build
**/.turbo
